.about-banner {
  position: relative;
  color: #fff;
  margin-bottom: 15rem;
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include img-cover;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    z-index: 2;
    min-height: 46.2rem;
    height: 100vh;
    padding-bottom: 11.3rem;
  }
  &__left {
    width: 108.4rem;
  }
  &__title {
    font-weight: 500;
    font-size: 6.5rem;
    span {
      color: $accent;
    }
  }
  &__right {
    width: 56.5rem;
  }
  &__text {
    font-size: 2rem;
    line-height: 160%;
    margin-bottom: 5.6rem;
  }
}