.business {
  max-width: 192rem;
  margin: 0 auto;
  margin-bottom: 14rem;
  &__inner {
    display: flex;
    align-items: center;
  }
  &__img {
    width: 85.5rem;
    margin-right: 7.3rem;
  }
  &__content {
    width: 87.2rem;
  }
  &__text {
    font-size: 1.8rem;
    line-height: 144.4%;
    margin-bottom: 4rem;
  }
}