.footer {
  background-color: #F2F3F5;
	&__inner {
    display: flex;
    padding-top: 6rem;
    padding-bottom: 8rem;
  }
  &__left {
    width: 40%;
  }
  &__logo {
    display: inline-block;
    width: 14.8rem;
  }
  &__center,
  &__right {
    width: 30%;
  }
  &__item {
    margin-bottom: 4.3rem;
    &:last-child {
      margin-right: 0;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 1.29;
    margin-bottom: 1.2rem;
    &:last-child {
      margin-right: 0;
    }
  }
  &__subtitle {
    color: #A8A8A8;
  }
  &__bottom {
    padding: 4rem 0;
    display: flex;
    font-weight: 500;
    color: #A8A8A8;
  }
  @media (max-width: 48em) {
    padding: 2.4rem 0;
    &__inner {
      display: block;
    }
    &__left {
      margin-bottom: 3.8rem;
    }
    &__logo {
      width: 13.3rem;
      margin-bottom: 0;
    }
    &__tel {
      font-size: 2.6rem;
      margin-bottom: 1rem;
    }
    &__list {
      display: block;
      margin-bottom: 5rem;
    }
    &__item {
      min-width: auto;
      width: 100%;
      margin-right: 0;
      margin-bottom: 3.5rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__title {
      font-size: 1.8rem;
      margin-bottom: 1.4rem;
    }
    &__links {
      display: flex;
      flex-wrap: wrap;
    }
    &__link {
      width: 50%;
      margin-bottom: 1.5rem;
    }
    &__app {
      margin-bottom: 4rem;
    }
    &__app-title {
      font-size: 1.4rem;
      margin-bottom: 0.7rem;
    }
    &__app-link {
      height: 3.7rem;
    }

    &__desk {
      display: none;
    }
    &__mob {
      display: block;
    }
  }
}
